*::selection{
    color: white;
    background-color: black;
}

body{
    margin: 0px;
    overflow: hidden;
}

header{
    background-color: #202020;
}

#title{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 10px;
    user-select: none;
    font-size: 18px;
    padding-bottom: 20px;
    box-shadow: inset 0px -10px #252525;
    height: 8vh;
}

#mc{
    background-color: #253535;
    height: 92vh;
}

#editor{
    width: 500px;
    height: 500px;
    outline: none;
    padding: 10px;
    color: white;
    background-color: #202020;
    line-height: 25px;
    border:none;
    resize: none;
    border-radius: 10px;
}

#editor::-webkit-scrollbar{
    width: 10px;
    background-color: #404040;
}

#editor::-webkit-scrollbar-thumb{
    background-color: #606060;
    cursor: pointer;
}

#side{
    width: 500px;
    height: 500px;
    border: 10px 10px solid white;
    background-color: white;
    user-select: none;
    resize: both;
    max-width: 500px;
    max-height: 500px;
}

main{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #252525;
    padding-top: 20px;
    padding-left: 25px;
    height: 80vh;
}

iframe, ::after, ::before {
    box-sizing: unset;
}
